.stats {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  &__age {
    text-align: center;
    &--big {
      font-weight: bold;
      font-size: 2rem;
      margin-left: 5px;
    }
  }
}
