.header {
  height: 60px;
  background: lightgrey;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 15px;

  &__header-link,
  &__page-name {
    margin-left: auto;
  }

  &__page-name {
    font-size: 1.5rem;
  }
}
